@media (max-width: 764px) {
    
    body {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 150px;
        padding: 0;
        margin: 0;
    }
    
    .photoDanny {
        padding: 0;
        margin: 0;
    }

    a {
        width: 210px;
    }

    .dannyName {
        display: flex;
        font-family: 'Raleway', sans-serif;
        color: #809EBF;
        font-size: 1.5em;
        justify-content: center;
        margin: 0;
        padding: 0;

    }
    
    .slogan, .contactLink {
        display: none;
    }
    
    .contactLinkResponsive {
        display: inherit;
        color: #809EBF;
        font-size: .8em;
        font-family: 'Raleway', sans-serif;
        margin: auto;
    }

    .sectionOne {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-image: url('../img/casa3.jpg');
    }
    
    .sectionContact {
        display: flex;
        justify-content: center;
        font-size: .8em;
    }
    
    .caroucel {
        z-index: -1;
    }
    
    .sectionArticles {
        flex-direction: column;
        justify-content: space-between;
        height: 1200px;
    }
    
    /*****CAROUCEL***/
    
    .slides {
        height: 180px;
    }
    
    .slideOne, .slideTwo, .slideThree {
        height: 250px;
        font-size: 2em;
    }
    
    /*****ARTICLES*****/
    
    .sectionDiv {
        margin: 20px 0;
    }
    
    .sectionButton {
        width: 200px;
        height: 50px;
    }
    
}